APP_NAME="Image Process Admin"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=image_admin_web
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=database
MAIL_MAILER=log

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1

REMBG_URL=http://127.0.0.1:8001/remove
PROCESS_URL=http://127.0.0.1:8001

IMAGE_H_WIDTH=1600
IMAGE_H_HEIGHT=1200
IMAGE_V_WIDTH=1200
IMAGE_V_HEIGHT=1600

BUSINESS_NAME="Ramchandra Dresses"
BUSINESS_CONTACT="+91-0000000000"
